@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.weather {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25vw;
    font-size: 18px;
    color: rgb(54, 52, 52);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.card h1 {
    display: flex;
    justify-content: center;
}

.card h2 {
    margin-left: 20px;
    color: rgb(48, 27, 27);
}